# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.jsonl

# Data
!**/alpaca-data-conversation.json
data

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*
pretrained*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
visuals/

mmtbench/*/*.png
mmtbench/*/*.json
allbench/*/*.png
allbench/*/*.json
